<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.salient.artvideoplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.salient.artvideoplayer.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.list.RecyclerViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="RecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.list.ListViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="ListViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.list.ListActivity"
            android:label="列表播放 ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.api.ApiActivity"
            android:label="Api演示 ApiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.api.ApiCommonActivity"
            android:configChanges="orientation|screenSize"
            android:label="ApiCommonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.extension.ExtensionActivity"
            android:label="扩展 ExtensionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tiny.TinyWindowActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="TinyWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.orientation.OrientationActivity"
            android:label="OrientationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.api.ApiRawAssetsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="ApiRawAssetsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>